# Copyright (c) 2025-2026 ufw workers, All rights reserved.
#
# Terms for redistribution and use can be found in LICENCE.

# MapleMini F1 Evaluation Board

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_GPIO=y
