.*
!.gitignore
!.clang-format
*~
\#*\#
\#*
*.tmp
*.orig
*.o
*.a
*.pro
*.log
*.tar.*
gmon.out
tags
TAGS
cscope.*
core
core.*
*.mp3
*.ogg
*.flac
compile_commands.json
GPATH
GRTAGS
GSYMS
GTAGS
config/*.mk
config/*.h
build-*/
build/
ci-*/
ci/
