.*
!.gcovr.conf
!.gitignore
!.clang-*
!.dir-locals.el
*~
\#*\#
\#*
*.tmp
*.orig
*.o
*.a
*.pro
*.log
*.tar.*
gmon.out
tags
TAGS
cscope.*
core
core.*
*.mp3
*.ogg
*.flac
compile_commands.json
GPATH
GRTAGS
GSYMS
GTAGS
fuzz/build-afl
fuzz/afl-compiler
fuzz/afl-runner
fuzz/ex-*/out
config/*.mk
config/*.h
test/module/ufw
test/module/zephyr
test/vcs/specimen
!test/vcs/catalogue/*.tar.*
build-*/
build/
release/
ci-*/
ci/
focus
api
