config UFW_USE_BUILTIN_SWAP
	bool "Use __builtin_bswapXX() if available."
	default y

config UFW_WITH_EP_CORE_TRACE
	bool "Enable printf() trace in endpoints/core.c"
	default n

config UFW_PRIVATE_ERRNO_OFFSET
       int "Offset for errno-extensions."
       default 16384

config UFW_ENABLE_COVERAGE
	bool "Enable coverage tracking in toolchain"
	default n

config UFW_INSTALL_COMPONENT
	string "CMake Installation Component name for ufw installation items"
	default "ufw-git-install"

config GENERATE_API_DOCUMENTATION
	bool "Generate API Documentation"
	default n

config UFW_ZEPHYR
	bool "Enable ufw-zephyr extensions"
	default n

if UFW_ZEPHYR

config UFW_SHELL_ADDONS
	bool "Enable ufw-zephyr's shell addons"
        depends on SHELL
	default n

config UFW_ENDPOINT_UART_POLL
	bool "Implementing endpoints with zephyr's uart-polling API"
	default n

config UFW_ENDPOINT_UART_FIFO
	bool "Implementing endpoints with zephyr's uart-fifo API"
	default n

config UFW_SLAB_ALLOCATOR
	bool "Allow using slab allocators as ufw BlockAllocators"
	default n

config UFW_SPI_TEXT
	bool "Enable ufw-zephyr's text based SPI controller"
	def_bool   DT_HAS_UFW_SPI_TEXT_ENABLED
	depends on DT_HAS_UFW_SPI_TEXT_ENABLED

config UFW_SPI_TEXT_INIT_PRIORITY
       int "Init priority for the spi-text driver"
       depends on UFW_SPI_TEXT
       default 70

config UFW_I2C_TEXT
	bool "Enable ufw-zephyr's text based I2C controller"
	def_bool   DT_HAS_UFW_I2C_TEXT_ENABLED
	depends on DT_HAS_UFW_I2C_TEXT_ENABLED

config UFW_I2C_TEXT_INIT_PRIORITY
       int "Init priority for the i2c-text driver"
       depends on UFW_I2C_TEXT
       default 70

endif # UFW_ZEPHYR
